<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net45" />
  <package id="IKVM" version="7.2.4630.5" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NuGet.Core" version="2.9.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Org.Kecoree.Core" version="1.0.0" targetFramework="net45" />
  <package id="Org.Kevoree.Core.KevScript" version="5.2.18" targetFramework="net45" />
  <package id="Org.Kevoree.Core.Model" version="5.2.7" targetFramework="net45" />
  <package id="Org.Kevoree.Lib.Annnotation" version="1.0.0" targetFramework="net45" />
  <package id="Org.Kevoree.Log.Api" version="1.0.0" targetFramework="net45" />
  <package id="Org.Kevoree.Nuget.CLient" version="1.0.0" targetFramework="net45" />
  <package id="Org.Kevoree.Nuget.Loader" version="1.1.0" targetFramework="net45" />
  <package id="org-kevoree-annotation" version="2.0.6" targetFramework="net45" />
  <package id="org-kevoree-api" version="1.4.0" targetFramework="net45" />
  <package id="org-kevoree-log" version="1.2.0" targetFramework="net45" />
</packages>